.header .wrapper
{
	width:80%;
	margin:auto;
}
.business .wrapper
{
	width:80%;
	margin:auto;
}
.action .wrapper
{
	width:80%;
	margin:auto;
}
.card .wrapper
{
	width:80%;
	margin:auto;
}
.website .wrapper
{
	width:80%;
	margin:auto;
}
.header 
{
	background-color:black;
	height:75px;
}
.header-fc
{ 
    display:flex;
    justify-content:space-between;
}
.header .header-fc .header-logo
{
	background-color:beige;
	width:20%;
	height:68px;
	margin-top:5px;
}
.header .header-fc .header-navi
{
	background-color:beige;
	width:40%;
	height:68px;
	margin-top:5px;
}
.business
{
    background-color:gray;
	height:391px;
}
.business .business-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.business .business-fc .logoboxa
{	
	background-color:white;
	height:309px;
	width:50%;
	margin-top:35px;
}
.business .business-fc .logotext
{
	background-color:white;
	height:309px;
	width:40%;
	margin-top:35px;
}
.action
{
	background:pink;
	height:153px;
}
.action .action-fc
{
	display:flex;
	justify-content:center;
}
.action .action-fc .actiontext
{
	margin-top:45px;
	align-items:center;
	display:flex;
	justify-content:center;
	background-color:white;
	height:50px;
	width:40%;	
}
.card 
{
	background:lightblue;
	height:350px;
}
.card .card-fc
{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.card .card-fc .boxa
{
	background:white;
	height:243px;
	width:30%;
	margin-top:50px;
}
.card .card-fc .boxb
{
	background:white;
	height:243px;
	width:30%;
	margin-top:50px;
}
.card .card-fc .boxc
{
    background:white;
	height:243px;
	width:30%;
	margin-top:50px;
}
.website
{
	background-color :black;
	height:124px;
}
.website .website-fc
{
	display:flex;
	justify-content:space-evenly;
}
.website .website-fc .copyright
{
	background-color:white;
	width:10%;
	height:35px;
	margin-top:50px;
}